.about {
	margin-bottom: 0px;
}

.align-right {
	float: right;
}

.artifact_pic, .collection_pic {
	/*max-height: 100%;*/
	/*max-width: 100%;*/
	width: 20vw;
	/*max-width: 20vw;*/
	/*max-height: 25vh;*/
}

.category_pic, .artifact_pic, .collection_item {
    /*border: 1px solid gray;*/
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
    /*margin: 5px;*/
    /*margin-bottom: 15px;*/
    padding: 8px;
}

.colDiv {
	height: 250px;
}

.collection_pic {
    margin: 5px;
    padding: 8px;
    vertical-align: bottom;
}

.collection_item {
	/*width: 25vw;*/
}

.collection_title {
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 15px;
}

	h2.artifact_num {
	    padding-left: 5px;
	    margin-bottom: 0px;
	    font-size: 1em;
	}

	h2.category_title, h2.collection_title {
		text-align: center;
	}

.category_title {
	margin-top: 0px;
	font-size: 1.1em;
}

.collection-div {
    width: 25vw;
    height: 40vh;
}

.collection-header {
	text-align: center;
}

.holder {
	text-align: center;
}

.galItem {
	height: 150px;
}

.gallery-div {
	height: 20vh;
	width: 20vw;
}

.notAvailable {
	font-style: italic;
	opacity: .6;
}

.peterkin {
	text-align: center;
}

	.peterkin img {
		margin: 1em;
		max-width: 500px;
	}

.profile {
	overflow: hidden;
}

	.profile h3 {
		font-weight: 600;
		margin-top: 0px;
	}

	.profile img {
		border-radius: 15px;
		float: left;
		margin-right: 1em;
		width: 150px;
	}

.physician_hdr {
	margin-bottom: 10px;
}



.sub {
	color: gray;
	font-style: italic;
	margin-bottom: 1.5em;
	margin-left: 2em;
}

.uw-thinstrip {
	background-color: #39275B;
	height: 85px;
	padding-top: 0px;
}

.uw-body a:focus, .uw-body a:hover {
	border: none;
}